@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1f1c17;
  background: #fff;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFPRODISPLAYREGULAR.otf');
}
